photoboothai-c93abefafd6549ee1e531fa5eba0373733540eb4/photobooth_workflow.json
{"updatedAt":"2026-01-19T20:20:13.156Z","createdAt":"2026-01-18T18:49:50.906Z","id":"IE54SxYrHylbHmNhrrJ3_","name":"[Photo Booth] - AI Image Filter Processor","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"photo-booth","responseMode":"responseNode","options":{}},"id":"a51059df-9e42-4be6-bd53-b0d07edde870","name":"Webhook - Receive Photo","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"webhookId":"af3eba6a-bc2c-4ebb-8fc1-5bb2994eabb3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"condition-image","leftValue":"={{ $json.body.image }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}},{"id":"condition-filter","leftValue":"={{ $json.body.filter }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"9c3c8690-0ee2-438e-a148-1280689b98a4","name":"IF - Validate Input","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[256,0]},{"parameters":{"respondWith":"json","responseBody":"{\n  \"success\": false,\n  \"error\": \"Invalid request: missing image or filter\",\n  \"code\": \"INVALID_INPUT\"\n}","options":{"responseCode":400}},"id":"3f3ec186-bc21-44d0-b171-da72fffe2195","name":"Respond - Validation Error","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[480,176]},{"parameters":{"jsCode":"// Simple UUID generator (no crypto required)\nfunction generateUUID() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n    var r = Math.random() * 16 | 0;\n    var v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nconst filterPrompts = {\n  'cartoon': 'Transform this photo into a vibrant cartoon style with bold outlines, bright colors, and smooth shading. Keep the person recognizable but stylized.',\n  'oil_painting': 'Transform this photo into a classic oil painting with visible brushstrokes, rich textures, and deep colors in the style of Renaissance masters.',\n  'anime': 'Transform this photo into Japanese anime style with large expressive eyes, clean lines, and vibrant colors while maintaining the persons likeness.',\n  'vintage': 'Transform this photo into a vintage 1970s style with warm sepia tones, soft film grain, and slight vignetting.',\n  'neon': 'Transform this photo into a cyberpunk neon style with glowing neon edges, dark background, and vibrant pink/blue/purple color scheme.',\n  'watercolor': 'Transform this photo into a soft watercolor painting with flowing colors, gentle washes, and delicate brush effects.',\n  'sketch': 'Transform this photo into a detailed pencil sketch with professional shading, hatching, and fine line work.',\n  'pop_art': 'Transform this photo into Andy Warhol pop art style with bold primary colors, halftone dots, and high contrast.'\n};\n\nconst filterName = $json.body.filter.toLowerCase();\nconst prompt = filterPrompts[filterName];\n\nif (!prompt) {\n  throw new Error('Invalid filter: ' + filterName);\n}\n\nlet imageData = $json.body.image;\nif (imageData.startsWith('data:')) {\n  imageData = imageData.split(',')[1];\n}\n\nconst uuid = generateUUID();\nconst filename = uuid + '.png';\n\nreturn {\n  json: {\n    filter: filterName,\n    prompt: prompt,\n    imageBase64: imageData,\n    filename: filename,\n    uuid: uuid,\n    timestamp: new Date().toISOString(),\n    session_id: $json.body.session_id || null\n  }\n};"},"id":"a2b01a96-b3f9-4948-9067-d61a83e2c9f7","name":"Code - Map Filter to Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,0]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/images/generations","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"dall-e-3\",\n  \"prompt\": \"{{ $json.prompt }}\",\n  \"n\": 1,\n  \"size\": \"1024x1024\",\n  \"quality\": \"standard\",\n  \"response_format\": \"b64_json\"\n}","options":{"timeout":120000}},"id":"865c232a-45f7-48c5-bad1-ee38cb162a61","name":"HTTP - OpenAI Image Generation","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[704,0],"credentials":{"openAiApi":{"id":"sjJW6eWmwmXbyAcI","name":"OpenAi account"}}},{"parameters":{"jsCode":"const openaiResponse = $json;\nlet generatedImageB64;\n\nif (openaiResponse.data && openaiResponse.data[0]) {\n  generatedImageB64 = openaiResponse.data[0].b64_json || openaiResponse.data[0].url;\n} else {\n  throw new Error('Unexpected OpenAI response format');\n}\n\nconst prevData = $('Code - Map Filter to Prompt').item.json;\n\nreturn {\n  json: {\n    imageBase64: generatedImageB64,\n    filename: prevData.filename,\n    uuid: prevData.uuid,\n    filter: prevData.filter,\n    timestamp: prevData.timestamp,\n    session_id: prevData.session_id\n  },\n  binary: {\n    data: {\n      data: generatedImageB64,\n      mimeType: 'image/png',\n      fileName: prevData.filename\n    }\n  }\n};"},"id":"3b362e0a-49e4-475a-ac85-230edbb16d54","name":"Code - Extract Generated Image","type":"n8n-nodes-base.code","typeVersion":2,"position":[912,0]},{"parameters":{"jsCode":"const prevData = $('Code - Map Filter to Prompt').item.json;\n\nconst filename = prevData.filename;\nconst expiresIn = 1200;\n\n// R2 public bucket URL\nconst downloadUrl = 'https://pub-81c17259d0024b8f8f925552b562c490.r2.dev/' + filename;\n\nreturn {\n  json: {\n    downloadUrl: downloadUrl,\n    filename: filename,\n    uuid: prevData.uuid,\n    filter: prevData.filter,\n    expiresIn: expiresIn,\n    expiresAt: new Date(Date.now() + expiresIn * 1000).toISOString(),\n    timestamp: prevData.timestamp,\n    session_id: prevData.session_id\n  }\n};"},"id":"5403bd51-0463-4b89-9da9-368833ad39c9","name":"Code - Generate Signed URL","type":"n8n-nodes-base.code","typeVersion":2,"position":[1360,0]},{"parameters":{"url":"=https://api.qrserver.com/v1/create-qr-code/?size=512x512&format=png&data={{ encodeURIComponent($json.downloadUrl) }}","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"58beb795-caae-4c14-80c1-9d472e38ee6a","name":"HTTP - Generate QR Code","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1584,0]},{"parameters":{"jsCode":"const signedUrlData = $('Code - Generate Signed URL').item.json;\nconst extractedImageData = $('Code - Extract Generated Image').item.json;\n\nlet qrBase64 = '';\nconst binaryData = $input.item.binary;\nif (binaryData && binaryData.data) {\n  const buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\n  qrBase64 = buffer.toString('base64');\n}\n\nreturn {\n  json: {\n    success: true,\n    qr_code: qrBase64 ? 'data:image/png;base64,' + qrBase64 : null,\n    preview_image: 'data:image/png;base64,' + extractedImageData.imageBase64,\n    download_url: signedUrlData.downloadUrl,\n    filter_applied: signedUrlData.filter,\n    expires_in: signedUrlData.expiresIn,\n    expires_at: signedUrlData.expiresAt,\n    session_id: signedUrlData.session_id\n  }\n};"},"id":"364fec3b-17dd-4139-8358-83023b30f360","name":"Code - Prepare Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1792,0]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}","options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"},{"name":"Cache-Control","value":"no-store"}]}}},"id":"a8e10ecf-b5a7-4cc8-b53b-b8efc3c05ec9","name":"Respond - Success","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2016,0]},{"parameters":{"operation":"upload","bucketName":"photoaibooth","fileName":"={{ $json.filename }}","binaryData":false,"fileContent":"={{ $json.imageBase64 }}","additionalFields":{}},"type":"n8n-nodes-base.s3","typeVersion":1,"position":[1120,0],"id":"065b8786-27f1-4ffa-98d4-8d1faad62b89","name":"Upload a file","credentials":{"s3":{"id":"LFq1djf3MFT1jL67","name":"S3 account 2"}}}],"connections":{"Webhook - Receive Photo":{"main":[[{"node":"IF - Validate Input","type":"main","index":0}]]},"IF - Validate Input":{"main":[[{"node":"Code - Map Filter to Prompt","type":"main","index":0}],[{"node":"Respond - Validation Error","type":"main","index":0}]]},"Code - Map Filter to Prompt":{"main":[[{"node":"HTTP - OpenAI Image Generation","type":"main","index":0}]]},"HTTP - OpenAI Image Generation":{"main":[[{"node":"Code - Extract Generated Image","type":"main","index":0}]]},"Code - Extract Generated Image":{"main":[[{"node":"Upload a file","type":"main","index":0}]]},"Code - Generate Signed URL":{"main":[[{"node":"HTTP - Generate QR Code","type":"main","index":0}]]},"HTTP - Generate QR Code":{"main":[[{"node":"Code - Prepare Response","type":"main","index":0}]]},"Code - Prepare Response":{"main":[[{"node":"Respond - Success","type":"main","index":0}]]},"Upload a file":{"main":[[{"node":"Code - Generate Signed URL","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook - Receive Photo":[{"json":{"body":{"filter":"vintage","fileName":"photo.png","mimeType":"image/png","image":"hAEvOYt8pSgJE+R81aXF2tR0Iz8dr3WaURlCuw0l7sdgowH2HuOHzl98sTpk8fuO9k5uZP0Q0rM7pG7o1uZQn7qgR9WzWzQ3nJ1rF2u5w1xZy1g5R0+9a5N2F7K9d0v4R2X8c1X9p0u7f8k2oH8b7nJQ9sQz6cJX+4bH3c3bZ0v7m7cZk2b2Y8Y0pP0PZz2Q6g9x2z8f1vH9C3J9PZb6o2l7u0P7zY0v4H2b3c6R7k6F6b3N6F5C5H7Z8v5b5P6C7k7x8P6T7C6H8J9Q7Z6r8H9P7b6k5n6N7f8g9j8Z9p7H8S9z8J9P8G9Q9v9N9Z9/9g8AuqIr+XwAAAP//e+bCXAAAAAZJREFUAwDly2Piyu0Y9QAAAABJRU5ErkJggg==="}}}]},"versionId":"44dc0d2d-7d1c-4ea8-8a30-93ed97613204","activeVersionId":"44dc0d2d-7d1c-4ea8-8a30-93ed97613204","versionCounter":8,"triggerCount":1,"shared":[{"updatedAt":"2026-01-18T18:49:50.911Z","createdAt":"2026-01-18T18:49:50.911Z","role":"workflow:owner","workflowId":"IE54SxYrHylbHmNhrrJ3_","projectId":"hNBHwviAJvSneKUH","project":{"updatedAt":"2025-08-07T14:07:10.213Z","createdAt":"2025-08-07T14:07:06.893Z","id":"hNBHwviAJvSneKUH","name":"Petric Lucas <petriclucascontakt@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"6f4bc0e4-631e-4927-93f6-a2484d90ad28","projectRelations":[{"updatedAt":"2025-08-07T14:07:06.893Z","createdAt":"2025-08-07T14:07:06.893Z","userId":"6f4bc0e4-631e-4927-93f6-a2484d90ad28","projectId":"hNBHwviAJvSneKUH","user":{"updatedAt":"2026-01-19T18:20:15.000Z","createdAt":"2025-08-07T14:07:05.225Z","id":"6f4bc0e4-631e-4927-93f6-a2484d90ad28","email":"petriclucascontakt@gmail.com","firstName":"Petric","lastName":"Lucas","personalizationAnswers":null,"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"1F4lzAhS84OC1ZRQ","userActivatedAt":1755171199287,"easyAIWorkflowOnboarded":true,"dismissedCallouts":{"aiAgentStarterCallout":true},"npsSurvey":{"responded":true,"lastShownAt":1756737307356}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-18","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-01-19T20:19:40.000Z","createdAt":"2026-01-19T20:19:20.559Z","versionId":"44dc0d2d-7d1c-4ea8-8a30-93ed97613204","workflowId":"IE54SxYrHylbHmNhrrJ3_","nodes":[{"parameters":{"httpMethod":"POST","path":"photo-booth","responseMode":"responseNode","options":{}},"id":"a51059df-9e42-4be6-bd53-b0d07edde870","name":"Webhook - Receive Photo","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"webhookId":"af3eba6a-bc2c-4ebb-8fc1-5bb2994eabb3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"condition-image","leftValue":"={{ $json.body.image }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}},{"id":"condition-filter","leftValue":"={{ $json.body.filter }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"9c3c8690-0ee2-438e-a148-1280689b98a4","name":"IF - Validate Input","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[256,0]},{"parameters":{"respondWith":"json","responseBody":"{\n  \"success\": false,\n  \"error\": \"Invalid request: missing image or filter\",\n  \"code\": \"INVALID_INPUT\"\n}","options":{"responseCode":400}},"id":"3f3ec186-bc21-44d0-b171-da72fffe2195","name":"Respond - Validation Error","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[480,176]},{"parameters":{"jsCode":"// Simple UUID generator (no crypto required)\nfunction generateUUID() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n    var r = Math.random() * 16 | 0;\n    var v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nconst filterPrompts = {\n  'cartoon': 'Transform this photo into a vibrant cartoon style with bold outlines, bright colors, and smooth shading. Keep the person recognizable but stylized.',\n  'oil_painting': 'Transform this photo into a classic oil painting with visible brushstrokes, rich textures, and deep colors in the style of Renaissance masters.',\n  'anime': 'Transform this photo into Japanese anime style with large expressive eyes, clean lines, and vibrant colors while maintaining the persons likeness.',\n  'vintage': 'Transform this photo into a vintage 1970s style with warm sepia tones, soft film grain, and slight vignetting.',\n  'neon': 'Transform this photo into a cyberpunk neon style with glowing neon edges, dark background, and vibrant pink/blue/purple color scheme.',\n  'watercolor': 'Transform this photo into a soft watercolor painting with flowing colors, gentle washes, and delicate brush effects.',\n  'sketch': 'Transform this photo into a detailed pencil sketch with professional shading, hatching, and fine line work.',\n  'pop_art': 'Transform this photo into Andy Warhol pop art style with bold primary colors, halftone dots, and high contrast.'\n};\n\nconst filterName = $json.body.filter.toLowerCase();\nconst prompt = filterPrompts[filterName];\n\nif (!prompt) {\n  throw new Error('Invalid filter: ' + filterName);\n}\n\nlet imageData = $json.body.image;\nif (imageData.startsWith('data:')) {\n  imageData = imageData.split(',')[1];\n}\n\nconst uuid = generateUUID();\nconst filename = uuid + '.png';\n\nreturn {\n  json: {\n    filter: filterName,\n    prompt: prompt,\n    imageBase64: imageData,\n    filename: filename,\n    uuid: uuid,\n    timestamp: new Date().toISOString(),\n    session_id: $json.body.session_id || null\n  }\n};"},"id":"a2b01a96-b3f9-4948-9067-d61a83e2c9f7","name":"Code - Map Filter to Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,0]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/images/generations","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"dall-e-3\",\n  \"prompt\": \"{{ $json.prompt }}\",\n  \"n\": 1,\n  \"size\": \"1024x1024\",\n  \"quality\": \"standard\",\n  \"response_format\": \"b64_json\"\n}","options":{"timeout":120000}},"id":"865c232a-45f7-48c5-bad1-ee38cb162a61","name":"HTTP - OpenAI Image Generation","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[704,0],"credentials":{"openAiApi":{"id":"sjJW6eWmwmXbyAcI","name":"OpenAi account"}}},{"parameters":{"jsCode":"const openaiResponse = $json;\nlet generatedImageB64;\n\nif (openaiResponse.data && openaiResponse.data[0]) {\n  generatedImageB64 = openaiResponse.data[0].b64_json || openaiResponse.data[0].url;\n} else {\n  throw new Error('Unexpected OpenAI response format');\n}\n\nconst prevData = $('Code - Map Filter to Prompt').item.json;\n\nreturn {\n  json: {\n    imageBase64: generatedImageB64,\n    filename: prevData.filename,\n    uuid: prevData.uuid,\n    filter: prevData.filter,\n    timestamp: prevData.timestamp,\n    session_id: prevData.session_id\n  },\n  binary: {\n    data: {\n      data: generatedImageB64,\n      mimeType: 'image/png',\n      fileName: prevData.filename\n    }\n  }\n};"},"id":"3b362e0a-49e4-475a-ac85-230edbb16d54","name":"Code - Extract Generated Image","type":"n8n-nodes-base.code","typeVersion":2,"position":[912,0]},{"parameters":{"jsCode":"const prevData = $('Code - Map Filter to Prompt').item.json;\n\nconst filename = prevData.filename;\nconst expiresIn = 1200;\n\n// R2 public bucket URL\nconst downloadUrl = 'https://pub-81c17259d0024b8f8f925552b562c490.r2.dev/' + filename;\n\nreturn {\n  json: {\n    downloadUrl: downloadUrl,\n    filename: filename,\n    uuid: prevData.uuid,\n    filter: prevData.filter,\n    expiresIn: expiresIn,\n    expiresAt: new Date(Date.now() + expiresIn * 1000).toISOString(),\n    timestamp: prevData.timestamp,\n    session_id: prevData.session_id\n  }\n};"},"id":"5403bd51-0463-4b89-9da9-368833ad39c9","name":"Code - Generate Signed URL","type":"n8n-nodes-base.code","typeVersion":2,"position":[1360,0]},{"parameters":{"url":"=https://api.qrserver.com/v1/create-qr-code/?size=512x512&format=png&data={{ encodeURIComponent($json.downloadUrl) }}","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"58beb795-caae-4c14-80c1-9d472e38ee6a","name":"HTTP - Generate QR Code","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1584,0]},{"parameters":{"jsCode":"const signedUrlData = $('Code - Generate Signed URL').item.json;\nconst extractedImageData = $('Code - Extract Generated Image').item.json;\n\nlet qrBase64 = '';\nconst binaryData = $input.item.binary;\nif (binaryData && binaryData.data) {\n  const buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\n  qrBase64 = buffer.toString('base64');\n}\n\nreturn {\n  json: {\n    success: true,\n    qr_code: qrBase64 ? 'data:image/png;base64,' + qrBase64 : null,\n    preview_image: 'data:image/png;base64,' + extractedImageData.imageBase64,\n    download_url: signedUrlData.downloadUrl,\n    filter_applied: signedUrlData.filter,\n    expires_in: signedUrlData.expiresIn,\n    expires_at: signedUrlData.expiresAt,\n    session_id: signedUrlData.session_id\n  }\n};"},"id":"364fec3b-17dd-4139-8358-83023b30f360","name":"Code - Prepare Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1792,0]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}","options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"},{"name":"Cache-Control","value":"no-store"}]}}},"id":"a8e10ecf-b5a7-4cc8-b53b-b8efc3c05ec9","name":"Respond - Success","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2016,0]},{"parameters":{"operation":"upload","bucketName":"photoaibooth","fileName":"={{ $json.filename }}","binaryData":false,"fileContent":"={{ $json.imageBase64 }}","additionalFields":{}},"type":"n8n-nodes-base.s3","typeVersion":1,"position":[1120,0],"id":"065b8786-27f1-4ffa-98d4-8d1faad62b89","name":"Upload a file","credentials":{"s3":{"id":"LFq1djf3MFT1jL67","name":"S3 account 2"}}}],"connections":{"Webhook - Receive Photo":{"main":[[{"node":"IF - Validate Input","type":"main","index":0}]]},"IF - Validate Input":{"main":[[{"node":"Code - Map Filter to Prompt","type":"main","index":0}],[{"node":"Respond - Validation Error","type":"main","index":0}]]},"Code - Map Filter to Prompt":{"main":[[{"node":"HTTP - OpenAI Image Generation","type":"main","index":0}]]},"HTTP - OpenAI Image Generation":{"main":[[{"node":"Code - Extract Generated Image","type":"main","index":0}]]},"Code - Extract Generated Image":{"main":[[{"node":"Upload a file","type":"main","index":0}]]},"Code - Generate Signed URL":{"main":[[{"node":"HTTP - Generate QR Code","type":"main","index":0}]]},"HTTP - Generate QR Code":{"main":[[{"node":"Code - Prepare Response","type":"main","index":0}]]},"Code - Prepare Response":{"main":[[{"node":"Respond - Success","type":"main","index":0}]]},"Upload a file":{"main":[[{"node":"Code - Generate Signed URL","type":"main","index":0}]]}},"authors":"Petric Lucas","name":"Version 1","description":"first version, test for web app","autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-01-19T20:19:40.160Z","id":22,"workflowId":"IE54SxYrHylbHmNhrrJ3_","versionId":"44dc0d2d-7d1c-4ea8-8a30-93ed97613204","event":"activated","userId":"6f4bc0e4-631e-4927-93f6-a2484d90ad28"},{"createdAt":"2026-01-19T20:20:13.334Z","id":23,"workflowId":"IE54SxYrHylbHmNhrrJ3_","versionId":"44dc0d2d-7d1c-4ea8-8a30-93ed97613204","event":"activated","userId":"6f4bc0e4-631e-4927-93f6-a2484d90ad28"}]}}